.wrapper {
	display: grid;

	width: 100%;
	justify-items: center;
}

.collectionTitle {
	margin: 20px 0 10px 15px !important;

	color: var(--white) !important;

	font-weight: 400 !important;
	justify-self: left;
}
