.button {
	position: relative;

	display: grid;
	align-items: center;

	width: 100%;
	height: 30px;
	padding: 10px 0;

	cursor: pointer;
	transition-duration: 300ms;

	border-radius: 7px;
	outline: 1px solid var(--darkLight);
	outline-offset: -1px;
	justify-items: center;
}

.copyIcon > svg {
	height: 20px;
	fill: var(--white) !important;
}

.active {
	outline-color: var(--primary);
}

.button:active,
.weba:hover {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	outline-color: var(--primary);
}

.text {
	user-select: none;

	color: var(--white) !important;
}

.spinner {
	width: 15px;
	height: 15px;

	animation: spin 1s linear infinite;

	border: 1px solid var(--dark);
	border-top: 1px solid var(--white);
	border-radius: 9999px;
}

.popupButton {
	outline: none;
	background: var(--primary);
}

.popupButton .text {
	color: var(--white);

	font-weight: 500;
}

.popupButton:active,
.webaPopup:hover {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.disableButton {
	cursor: default;
	filter: none !important;

	outline-color: var(--darkLight) !important;
}
