.tasksList {
	display: grid;

	width: calc(100% - 30px);
	margin-bottom: 20px;
	padding: 10px 15px;
	gap: 30px;
	justify-items: center;
}

.tasksTitle {
	margin: 20px 0 10px 15px !important;

	color: var(--white) !important;

	font-weight: 400 !important;
	justify-self: left;
}

.tasksDescription {
	max-width: 80%;
	margin: 0 0 20px 15px !important;

	color: var(--darkLight) !important;

	justify-self: left;
}

.noTasks {
	margin: 20px 0;

	color: var(--white);
}
