.info {
	display: grid;

	width: calc(100% - 40px);
	margin-bottom: 120px;
	padding: 10px 20px;

	gap: 5px;
	justify-items: center;
}

.infoText {
	color: var(--white);

	font: 300;
}

.byDiv {
	display: grid;
	justify-items: center;
	gap: 15px;
}

.version {
	color: var(--darkLight);
}
