.modelInfo {
	display: grid;

	width: calc(100% - 20px);
	margin-bottom: 100px;
	padding: 10px;
	gap: 20px;
	justify-items: center;
}

.infoDiv {
	display: grid;

	width: 95%;
	gap: 20px;
	justify-items: center;
}

.modelId {
	width: 95%;
	padding: 10px;

	cursor: pointer;
	transition-duration: 300ms;
	text-align: center;

	color: var(--white);
	border-radius: 7px;
	background: rgba(255, 255, 255, 0.07);
}

.modelId:hover,
.modelId:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

.statsDiv {
	display: grid;

	width: 100%;
	height: auto;
	justify-items: center;
	grid-template-columns: auto auto;
}
