.modelInfo {
	display: grid;

	width: calc(100% - 30px);
	margin-bottom: 110px;
	padding: 20px 15px 10px 15px;
	gap: 20px;
	justify-items: center;
}

.infoDiv {
	display: grid;

	width: 100%;
	gap: 20px;
	justify-items: center;
}

.statsDiv {
	display: grid;

	width: 100%;
	height: auto;
	padding: 15px 0;

	border-radius: 7px;
	background: rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(3px);
	justify-items: center;
	grid-template-columns: auto auto;
	z-index: 50;
}
