.modelInfo {
	display: grid;

	width: calc(100% - 20px);
	margin-bottom: 110px;
	padding: 20px 10px 10px 10px;
	gap: 20px;
	justify-items: center;
}

.infoDiv {
	display: grid;

	width: 95%;
	gap: 20px;
	justify-items: center;
}

.statsDiv {
	position: relative;

	display: grid;

	width: 100%;
	height: auto;
	padding: 15px 0;

	border-radius: 7px;
	outline: 1px solid var(--darkLight);
	outline-offset: -1px;
	justify-items: center;
	grid-template-columns: auto auto;
}
