.modelsList {
	display: grid;
	overflow-y: auto;

	width: calc(100% - 25px);
	margin-bottom: 110px;
	padding: 0 5px 0 10px;
	grid-template-columns: calc(50% - 5px) calc(50% - 5px);
	gap: 5px;
	justify-items: center;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}

.noModelsFound {
	margin-top: 20px;

	color: var(--white);

	font-weight: 400 !important;
}
