.modelsList {
	display: grid;

	width: calc(100% - 20px);
	padding: 10px;
	grid-template-columns: calc(50% - 5px) calc(50% - 5px);
	gap: 10px;
}

.loadingIndicator {
	display: grid;

	width: 15%;
	justify-self: center;
}
