.modelStat {
	position: relative;

	display: grid;
	align-items: center;

	width: fit-content;

	cursor: pointer;
	transition-duration: 300ms;
	grid-template-columns: auto 1fr;
	gap: 10px;
}

.modelStatS {
	gap: 7px;
}

.noIcon {
	gap: 0;
}

.modelStat:active,
.weba:hover {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

.statIcon {
	fill: var(--white);

	height: 16px;
}

.active > svg {
	fill: var(--primary) !important;
}

.active > h1 {
	font-weight: 400;
}

.statText,
.tooltip > h1 {
	color: var(--white);
}

.tooltip {
	position: absolute;

	top: -150%;
	left: 50%;

	width: max-content;
	padding: 5px 10px;

	transform: translateX(-50%);

	border-radius: 5px;
	background: var(--dark);
}

.statIconS {
	height: 14px;
}
