html,
body {
	margin: 0;
	padding: 0;

	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;

	background: var(--dark);

	font-family: 'Roboto', sans-serif;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
	overscroll-behavior: none;
	scroll-behavior: smooth;
	touch-action: manipulation;
}

::-moz-focus-outer,
::-moz-focus-inner {
	padding: 0;

	border: 0;
}

::-webkit-scrollbar {
	width: 9px;
	height: 9px;
}

::-webkit-scrollbar-track {
	background-color: var(--dark);
}

::-webkit-scrollbar-thumb {
	border-radius: 30px;
	background-color: var(--white);
}

.modelsList::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
	-moz-appearance: textfield;
	appearance: none;
}

@media (max-width: 480px) {
	::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}
}

.swiper-pagination {
	top: 10px !important;

	height: 1px !important;
}

.swiper-pagination-bullet-active {
	background: var(--primary) !important;
}

:root {
	--primary: #CC8358;
	--white: #FFF;
	--dark: #1A1A1A;
	--light: #DDD;
	--darkLight: #A3A3A3;
	--error: #FF1500;
	--fire: #FF7401;
	--banana: #FFC803;
	--font-family: 'Roboto', sans-serif;
}
