.coinsInfoItem {
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr auto;

	align-items: top;
}

.coinsInfoDiv {
	display: grid;
	gap: 5px;
}

.event {
	height: fit-content;

	color: var(--white);
}

.coinsAmount {
	color: var(--white) !important;

	font-weight: 400;
}

.date {
	color: var(--darkLight) !important;
}
