.wrapper {
	display: grid;

	width: 100%;
	justify-items: center;
}

.friedsTitle {
	margin: 20px 0 0 15px !important;

	color: var(--white) !important;

	font-weight: 400 !important;
	justify-self: left;
}

.friedsDescription {
	max-width: 80%;
	margin: 5px 0 20px 15px !important;

	color: var(--darkLight) !important;

	justify-self: left;
}
