.byBlock {
	position: absolute;
	bottom: 20px;

	display: grid;
	align-items: center;
	align-self: end;

	height: fit-content;
	justify-items: center;
}

.byBanana {
	transition-duration: 300ms;

	color: var(--tg-theme-subtitle-text-color);
}

.darkColor {
	color: var(--white) !important;
}

.byBanana:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--banana);
}

@media (min-width: 1024px) {
	.byBanana:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--banana);
	}
}
