.voteButton {
	position: relative;

	display: grid;
	align-items: center;

	width: 100%;
	height: 30px;
	padding: 10px 0;

	cursor: pointer;
	transition-duration: 300ms;

	border-radius: 7px;
	outline: 1px solid var(--darkLight);
	outline-offset: -1px;
	justify-items: center;
}

.voteButton:active,
.weba:hover {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	outline-color: var(--primary);
}

.isVotedButton {
	cursor: default;
	filter: none !important;

	outline-color: var(--primary);
}

.buttonDiv {
	display: grid;
	align-items: center;

	width: fit-content;
	grid-template-columns: auto 1fr;
	gap: 10px;
}

.voteIcon {
	fill: var(--white);

	height: 20px;
}

.isVoted {
	fill: var(--primary);
}

.text {
	user-select: none;

	color: var(--white) !important;
}

.spinner {
	width: 15px;
	height: 15px;

	animation: spin 1s linear infinite;

	border: 1px solid var(--dark);
	border-top: 1px solid var(--white);
	border-radius: 50%;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.iconWrapper {
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
	pointer-events: none;
}

.logoIcon {
	width: 50px;
	height: 50px !important;

	transition: transform 0.5s ease;
}
