.navbarButton {
	display: grid;

	width: fit-content;
	height: auto;

	cursor: pointer;
	transition-duration: 300ms;
	justify-items: center;
	gap: 7px;
}

.navbarButton:hover,
.navbarButton:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

.navbarButtonIcon > svg {
	height: 20px;
	fill: var(--white);
}

.navbarButtonText {
	user-select: none;

	color: var(--white) !important;
}

.active > .navbarButtonIcon > svg {
	fill: var(--primary);
}

.active > .navbarButtonText {
	color: var(--primary) !important;
}
