.taskItem {
	display: grid;
	align-items: center;

	width: calc(95% - 20px);
	height: auto;
	padding: 0 10px;
	justify-items: left;
	grid-template-columns: 1fr auto;
	gap: 40px;
}

.taskInfo {
	display: grid;
	gap: 10px;
	justify-items: left;
}

.channelLink {
	cursor: pointer;
}

.completed {
	filter: brightness(0.5);
}

.tag {
	padding: 5px 10px;

	color: var(--white);
	border-radius: 5px;
	outline: 1px solid var(--primary);
	outline-offset: -1px;

	font-weight: 400;
}

.name {
	color: var(--white);

	font-weight: 400;
}

.award {
	display: grid;
	grid-template-columns: 1fr auto;

	align-items: center !important;

	color: var(--darkLight);
	gap: 3px;
}

.burnIcon {
	width: 8px;
	fill: var(--darkLight);
}
