.taskItem {
	display: grid;
	align-items: center;

	width: calc(95% - 20px);
	height: auto;
	padding: 0 10px;
	justify-items: left;
	grid-template-columns: 1fr auto;
	gap: 40px;
}

.taskInfo {
	display: grid;
	gap: 7px;
	justify-items: left;
}

.completed {
	filter: brightness(0.5);
	grid-template-columns: auto;
	gap: 0;
}

.tag {
	padding: 5px 10px;

	color: var(--white);
	border-radius: 5px;
	outline: 1px solid var(--primary);
	outline-offset: -1px;

	font-weight: 400;
}

.name {
	color: var(--white);

	font-weight: 400;
}

.award {
	color: var(--darkLight);
}
