.header {
	position: sticky;
	z-index: 12;
	top: 0;

	display: grid;
	align-items: end !important;
	justify-items: center;

	width: calc(100% - 30px);
	padding: 10px 15px;

	background: rgba(0, 0, 0, 0.8);
	grid-template-columns: auto 1fr auto;
	gap: 15px;
	backdrop-filter: blur(3px);
}

.headerDiv {
	position: relative;

	display: grid;
	gap: 5px;
	justify-items: left;
}

.rightHeaderDiv {
	justify-items: right;
}

.title {
	color: var(--primary);

	font-weight: 400;
}

.text {
	color: var(--white);

	font-size: 500;
}

.burnText {
	display: grid;
	grid-template-columns: 1fr auto;

	align-items: start;
	gap: 10px;
}

.burnText > svg {
	width: 15px;
	fill: var(--primary);
}
