.startScreen {
	position: relative;

	display: grid;
	overflow: hidden;
	align-items: end;

	width: 100%;
	height: 100vh;
	justify-items: center;
	background: var(--start-bg);
}

.startTextDiv,
.joinChannelLink {
	position: absolute;
	z-index: 10;

	display: grid;

	width: 90%;
	justify-items: center !important;
}

.startTextDiv {
	top: 3%;
	gap: 5px;
}

.joinChannelLink {
	bottom: 10% !important;

	cursor: pointer;
}

.joinChannelLink:active > h1,
.weba:hover > h1 {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--primary) !important;
}

.startScreenTitle {
	color: var(--primary) !important;

	font-weight: 400 !important;
}

.startScreenText {
	transition-duration: 300ms;
	text-align: center;
	font-weight: 400 !important;

	color: var(--white) !important;
}

.video {
	width: 100%;
	height: auto;
	filter: brightness(0.6);
}
