.startScreen {
	position: relative;

	display: grid;
	overflow: hidden;
	align-items: center;

	width: 100%;
	height: 100vh;
	justify-items: center;
}

.startTextDiv,
.joinChannelLink {
	position: absolute;
	z-index: 10;

	display: grid;

	width: 90%;
	justify-items: center !important;
}

.startTextDiv {
	top: 10%;
	gap: 10px;
}

.joinChannelLink {
	bottom: 17% !important;

	cursor: pointer;
}

.joinChannelLink:active > h1,
.weba:hover > h1 {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--primary) !important;
}

.startScreenTitle {
	color: var(--primary) !important;

	font-weight: 400;
}

.startScreenText {
	transition-duration: 300ms;
	text-align: center;

	color: var(--white) !important;
}

.videoWrapper {
	position: relative;

	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: fit-content;
}

.video {
	width: 100%;
	height: auto;
}

.overlayTop,
.overlayBottom {
	position: absolute;
	z-index: 1;
	right: 0;
	left: 0;

	height: 10%;

	pointer-events: none;
}

.overlayTop {
	top: 0;

	background: linear-gradient(to bottom, rgba(26, 26, 26, 1), rgba(26, 26, 26, 0));
}

.overlayBottom {
	bottom: 0;

	background: linear-gradient(to top, rgba(26, 26, 26, 1), rgba(26, 26, 26, 0));
}
