.startScreen {
	position: relative;

	display: grid;
	overflow: hidden;
	align-items: center;

	width: 100%;
	height: 100vh;
	justify-items: center;

	background: var(--start-bg);
}

.startScreenDiv {
	position: absolute;
	z-index: 102;
	top: 0;
	left: 50%;

	display: grid;

	transform: translateX(-50%);
	justify-items: center;
}

.startScreenTitle,
.startScreenText {
	user-select: none;
	text-align: center;

	color: var(--white) !important;
}

.startScreenTitle {
	margin-bottom: -5px !important;

	font-weight: 100 !important;
}

.startScreenText {
	margin-left: 8px !important;
}

.video {
	width: 100%;
	height: auto;
	filter: brightness(0.6);
}

.progressBar {
	position: absolute;
	z-index: 12;

	align-self: end;

	width: 100%;
	height: 5px;

	background: rgba(255, 255, 255, 0.07);
}
