.friendsInfo {
	display: grid;

	width: calc(100% - 30px);
	margin-bottom: 110px;
	padding: 10px 15px;
	gap: 20px;
	justify-items: center;
}

.statsDiv,
.friendsButtonsDiv {
	display: grid;

	width: 95%;
}

.statsDiv {
	padding: 15px 10px;

	border-radius: 7px;
	background: rgba(0, 0, 0, 0.4);
	filter: blur(0.4);
	justify-items: center;

	grid-template-columns: auto auto auto;
}

.friendsButtonsDiv {
	width: calc(95% + 20px);
	grid-template-columns: 1fr 50px;
	gap: 10px;
}
