.wrapper {
	display: grid;

	width: 100%;
	justify-items: center;
}

.leaderboardTitle {
	margin: 20px 0 10px 20px !important;

	color: var(--white) !important;

	font-weight: 600 !important;
	justify-self: left;
}
