.navbar {
	position: fixed;
	z-index: 10;
	bottom: 0;
	left: 0;

	display: grid;
	align-items: center;

	width: calc(100% - 30px);
	height: auto;
	padding: 15px;

	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	justify-items: center;

	background: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(3px);
}

.navbarLogoButtonDiv {
	position: relative;

	display: grid;

	width: 70px;
	height: 100%;
	margin: 0 10px;

	cursor: pointer;
	transition-duration: 300ms;
}

.navbarLogoButtonDiv:active,
.weba:hover {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

.navbarLogoButton {
	position: absolute;
	z-index: 1;
	top: -75%;

	width: 70px;

	border-radius: 9999px;
}

.navbarLogoButtonDiv::before {
	position: absolute;
	z-index: 0;
	top: -75%;
	left: 0;

	width: 70px;
	height: 70px;

	content: '';

	border-radius: 9999px;
	outline: 11px solid rgba(0, 0, 0, 0.7);
	outline-offset: -5px;
	clip-path: ellipse(200% 28% at 50% 0%);
}

.navbarLogoButtonDiv:hover .navbarLogoButton,
.navbarLogoButtonDiv:active .navbarLogoButton {
	filter: none;
}
