.wrapper {
	display: grid;

	width: 100%;
	justify-items: center;
}

.versionText {
	position: absolute;
	right: 0;
	bottom: 20px;

	margin-right: 5% !important;

	color: var(--darkLight) !important;

	font-weight: 400 !important;
}

.balance {
	margin: 20px 0 15px 0 !important;
	padding: 10px 20px;

	color: var(--white) !important;

	border-radius: 10px;
	outline: 1px solid var(--primary);
	outline-offset: -1px;

	font-weight: 400 !important;
}
