.tasksList {
	display: grid;

	width: calc(100% - 20px);
	margin-bottom: 110px;
	padding: 10px;
	gap: 30px;
	justify-items: center;
}

.daysDiv {
	display: grid;

	width: 100%;
	gap: 20px;
	justify-items: center;
}

.dayText {
	margin-left: 10px;

	color: var(--darkLight);

	font-weight: 400;
	justify-self: left;
}

.noTasks {
	margin-top: 20px;

	color: var(--white);
}

.changeTasksTypeDiv {
	display: grid;

	width: calc(95% - 20px);
	grid-template-columns: calc(50% - 5px) calc(50% - 5px) !important;
	gap: 10px;
	margin: 10px 0;
}

.divider {
	width: 100%;
	height: 0.5px;
	margin: 10px 0;

	background: var(--darkLight);
}
