.tasksList {
	display: grid;

	width: calc(100% - 20px);
	margin-bottom: 100px;
	padding: 10px;
	gap: 20px;
	justify-items: center;
}

.noTasks {
	margin-top: 20px;

	color: var(--white);
}

.changeTasksTypeDiv {
	display: grid;

	width: calc(95% - 20px);
	grid-template-columns: calc(50% - 5px) calc(50% - 5px) !important;
	gap: 10px;
	margin: 10px 0;
}
