.userInfo {
	position: relative;

	display: grid;

	width: calc(95% - 30px);
	margin: 10px 0 110px 0;
	padding: 10px 15px;
	gap: 20px;
	justify-items: center;
}

.leaderboardLink {
	cursor: pointer;
}

.leaderboardLink > svg {
	position: absolute;
	top: 10px;
	right: 20px;

	width: 20px;

	transition-duration: 300ms;
	fill: var(--white);
}

.leaderboardLink:active > svg,
.weba:hover > svg {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	fill: var(--primary);
}

.userImage {
	display: grid;
	align-items: center;

	width: 120px;
	height: 120px;

	justify-items: center;

	border-radius: 9999px;
}

.username {
	color: var(--white) !important;
}

.coins {
	color: var(--white);

	font-weight: 400;
}

.changeTypeDiv {
	display: grid;

	width: 100%;
	margin: 10px 0;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.coinsInfoTitle {
	justify-self: left;

	color: var(--white) !important;

	font-weight: 400 !important;
}

.divositInfo {
	margin-top: -10px;

	color: var(--darkLight) !important;
}
