.userInfo {
	display: grid;

	width: calc(95% - 20px);
	margin-top: 20px;
	margin-bottom: 100px;
	padding: 10px;
	gap: 20px;
	justify-items: center;
}

.logo {
	display: grid;
	align-items: center;

	width: 120px;
	height: 120px;

	transition-duration: 300ms;

	justify-items: center;
}

.coins {
	margin-bottom: 20px;

	font-weight: 600;
}

.userId {
	width: 95%;
	padding: 10px;

	cursor: pointer;
	transition-duration: 300ms;
	text-align: center;

	color: var(--white);
	border-radius: 7px;
	background: rgba(255, 255, 255, 0.07);
}

.userId:hover,
.userId:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

.userInfo > h1 {
	color: var(--white);
}
