.userInfo {
	position: relative;

	display: grid;

	width: calc(95% - 20px);
	margin: 10px 0 110px 0;
	padding: 10px;
	gap: 20px;
	justify-items: center;
}

.leaderboardLink {
	cursor: pointer;
}

.leaderboardLink > svg {
	position: absolute;
	top: 10px;
	right: 20px;

	width: 20px;

	transition-duration: 300ms;
	fill: var(--white);
}

.leaderboardLink:active > svg,
.weba:hover > svg {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	fill: var(--primary);
}

.logo {
	display: grid;
	align-items: center;

	width: 120px;
	height: 120px;

	justify-items: center;
}

.username {
	padding: 10px 20px;

	color: var(--white) !important;

	border-radius: 7px;
	outline: 1px solid var(--primary);
	outline-offset: -1px;
}

.coins {
	color: var(--white);

	font-weight: 400;
}

.divider {
	width: 100%;
	height: 0.5px;
	margin: 10px 0;

	background: var(--darkLight);
}

.coinsInfoTitle {
	justify-self: left;

	color: var(--white) !important;

	font-weight: 400 !important;
}
